<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Formulario Alumnos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    </head>
    <body>

        <div class="container">
            <br>
            <h3>Registro</h3>
            <hr><br>
            <form th:action="@{/alumno/form}" method="post">
                <input type="hidden" th:field="*{alumno.idalumno}">
                <div class="row">
                    <div  class="col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="bi bi-person-circle"></i></div>
                            <input type="text" class="form-control" id="nombre" th:field="*{alumno.nombre}" >
                        </div>
                    </div>
                    <div  class="col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">Apellido Paterno</label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="bi bi-person-circle"></i></div>
                            <input type="text" class="form-control" id="apaterno" th:field="*{alumno.apellidopaterno}">
                        </div>
                    </div>
                    <div  class="col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">Apellido Materno</label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="bi bi-person-circle"></i></div>
                            <input type="text" class="form-control" id="apaterno" th:field="*{alumno.apellidomaterno}" >
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-primary">Guardar</button>
                    </div></div>
        </div>
    </form>
</body>
</html>
