<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tabla de Materias</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            body {
                background-color: #e2f0fb; /*color de fondo */
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">DIGI PRO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/alumno/getall">Tabla de alumnos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/materia/getall">Tabla de materias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/alumnoMateria/getall">Relaciones</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div style="height: 20px;"></div>
            <div class="text-center">
                <h2>Relaciones</h2>
                <button type="button" class="btn btn-success" onclick="idalumnoSP(0)">AGREGARSP</button>            
                <button type="button" class="btn btn-success" onclick="idalumno(0)">AGREGAR</button>            
            </div>
            <br>




            <table class="table table-bordered" id="tableRandom">
                <thead class="table-dark">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Alumno</th>
                        <th>Materia</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="materia : ${alumnoMaterias}" >
                        <td><button type="button" class="btn btn-warning" th:onclick="'idalumnoSP(' + ${materia.idalumnomateria} + ')'"><i class="bi bi-pencil-square"></i>  SP</button>   </td>
                        <td><button type="button" class="btn btn-warning" th:onclick="'idalumno(' + ${materia.idalumnomateria} + ')'"><i class="bi bi-pencil-square"></i> </button>   </td>
                        <td th:text="${materia.materia.nombre}"></td>
                        <td th:text="${materia.alumno.nombre}"></td>
                        <td><a th:href="@{/alumnoMateria/deleteSP/{numeroempleado}(numeroempleado=${materia.idalumnomateria})}" class="btn btn-danger"><i class="bi bi-trash-fill"></i>SP</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </body>

    <div style="height: 20px;"></div> 
    <div class="modal fade" id="agregarRelacionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Una Relacion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form th:action="@{/alumnoMateria/formSP}" th:object="${alumnoMateria}" method="POST">
                        <div class="form-group">
                            <input id="idmateria" type="hidden" th:field="*{idalumnomateria}">
                            <label for="alumno">Alumno</label>
                            <input type="text" class="form-control" id="alumno" placeholder="Ingrese el nombre del alumno" th:field="*{alumno.nombre}">
                        </div>
                        <div class="form-group">
                            <label for="materia">Materia</label>
                            <input type="text" class="form-control" id="materia" placeholder="Ingrese nombre de la materia" th:field="*{materia.nombre}">
                        </div>
                        <input type="submit" value="Guardar" class="btn btn-success"/> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
                    function idalumno(i) {
                        $("#idmateria").val(i);
                        mostrar(i);
                        $("#agregarRelacionModal").modal("show");
                    }
                    function mostrar(i) {
                        $.ajax({
                            url: "http://localhost:8080/alumnoMateriaRest/getbyid/" + i,
                            type: 'GET',
                            success: function (result) {
                                $("#alumno").val(result.alumno.nombre);
                                $("#materia").val(result.materia.nombre);
                            },
                            error: function (error)
                            {
                                alert("Error al obtener usuario");
                            }
                        });
                    }

</script>